<html>
<head>
  <title>Crypdesigns</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/how-it-works.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
</head>
<body>
  <div id="wrapper">
    <nav class="navbar navbar-dark">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style: "margin-left: 30px">Crypdesigns</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/categories/web-app-design">Web and App Design</a></li>
                <li><a href="/categories/clothing-merch">Clothing and Merchandise</a></li>
                <li><a href="/categories/art-illustration">Art and Illustration</a></li>
                <li><a href="/categories/logos-identity">Logos and Identity</a></li>
                <li><a href="/categories/business-advertising">Business and Advertising</a></li>
                <li><a href="/categories/book-magazine">Book and Magazine</a></li>
                <li><a href="/categories/packaging-label">Packaging and Label</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/categories">All</a></li>
                <li><a href="/categories/other">Other</a></li>
              </ul>
            </li>
            <li><a href="/how-it-works">How It Works <span class="sr-only">(current)</span></a></li>
            <li><a href="/FAQ">FAQ</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
            <li><a href="/users/logout">Log Out</a></li>
            {{else}}
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Log In</a></li>
            {{/if}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div> <!-- /container -->
    </nav>

    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{!-- Body --}}
    <div id="body">
    {{{body}}}
    </div>

    <footer class="text-center footer">
      <span>help@crypdesigns.com</span>
      <span>555-555-5555</span>
      <br>
      <a href="#">FACEBOOK</a>
      <a href="#">INSTAGRAM</a>
      <a href="#">TWITTER</a>
      <p>© 2016 Crypdesigns. All Rights Reserved.</p>
    </footer>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src='/js/jquery.ui.widget.js' type='text/javascript'></script>
  <script src='/js/jquery.iframe-transport.js' type='text/javascript'></script>
  <script src='/js/jquery.fileupload.js' type='text/javascript'></script>
  <script src='/js/jquery.cloudinary.js' type='text/javascript'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/build/bundle.js"></script>
  <script type="text/javascript">
  var populateSubs = function(subcategory) {
    $('#subsList').text('');
    for (var i=0; i < subcategory.length; i++) {
      $('#subsList').append(subcategory[i]);
    }
  };

  var subcategories = {
    web_app: ['<li><a href="/categories/web-app-design/web-design">Web page design</a></li>',
      '<li><a href="/categories/web-app-design/wordpress-theme">WordPress theme design</a></li>',
      '<li><a href="/categories/web-app-design/landing-page">Landing page design</a></li>',
      '<li><a href="/categories/web-app-design/icon-button">Icon or button</a></li>',
      '<li><a href="/categories/web-app-design/app-design">App design</a></li>',
      '<li><a href="/categories/web-app-design/facebook-cover">Facebook cover</a></li>',
      '<li><a href="/categories/web-app-design/social-media">Social media page</a></li>',
      '<li><a href="/categories/web-app-design/banner-ad">Banner ad</a></li>',
      '<li><a href="/categories/web-app-design/flash-banner">Flash banner</a></li>',
      '<li><a href="/categories/web-app-design/other-web-app">Other web or app design</a></li>'],
    clothing_merch: ['<li><a href="/categories/clothing-merch/t-shirt">T-shirt</a></li>',
      '<li><a href="/categories/clothing-merch/clothing-apparel">Clothing or apparel</a></li>',
      '<li><a href="/categories/clothing-merch/merchandise">Merchandise</a></li>',
      '<li><a href="/categories/clothing-merch/cup-mug">Cup or mug</a></li>',
      '<li><a href="/categories/clothing-merch/sticker">Sticker</a></li>',
      '<li><a href="/categories/clothing-merch/other-clothing-merch">Other clothing or merchandise</a></li>'],
    art_illustration: ['<li><a href="/categories/art-illustration/illustration-graphics">Illustration or graphics</a></li>',
      '<li><a href="/categories/art-illustration/card-invitation">Card invitation</a></li>',
      '<li><a href="/categories/art-illustration/character-mascot">Character or mascot</a></li>',
      '<li><a href="/categories/art-illustration/tattoo">Tattoo</a></li>',
      '<li><a href="/categories/art-illustration/three-dimensional">3D</a></li>',
      '<li><a href="/categories/art-illustration/other-art-illustration">Other art or illustration</a></li>'],
    logos_identity: ['<li><a href="/categories/art-illustration/logo-design">Logo design</a></li>',
        '<li><a href="/categories/art-illustration/brand-identity-pack">Logo and brand identity pack</a></li>',
        '<li><a href="/categories/art-illustration/social-media-pack">Logo and social media pack</a></li>',
        '<li><a href="/categories/art-illustration/logo-website">Logo and hosted website pack</a></li>',
        '<li><a href="/categories/art-illustration/logo-business-card">Logo and business card</a></li>',
        '<li><a href="/categories/art-illustration/business-card">Business card</a></li>',
        '<li><a href="/categories/art-illustration/stationery">Stationery</a></li>'],
    business_advertising: ['<li><a href="/categories/business-advertising/postcard-flyer">Postcard, flyer or print</a></li>',
        '<li><a href="/categories/business-advertising/poster">Poster</a></li>',
        '<li><a href="/categories/business-advertising/infographic">Infographic</a></li>',
        '<li><a href="/categories/business-advertising/brochure">Brochure</a></li>',
        '<li><a href="/categories/business-advertising/vehicle-wrap">Car, truck or van wrap</a></li>',
        '<li><a href="/categories/business-advertising/signage">Signage</a></li>',
        '<li><a href="/categories/business-advertising/email">Email</a></li>',
        '<li><a href="/categories/business-advertising/powerpoint-template">PowerPoint Template</a></li>',
        '<li><a href="/categories/business-advertising/menu">Menu</a></li>',
        '<li><a href="/categories/business-advertising/other-business-advertising">Other business or advertising</a></li>'],
    book_magazine: ['<li><a href="/categories/book-magazine/book-cover">Book cover</a></li>',
        '<li><a href="/categories/book-magazine/magazine-cover">Magazine cover</a></li>',
        '<li><a href="/categories/book-magazine/other-book-magazine">Other book or magazine</a></li>'],
    packaging_label: ['<li><a href="/categories/packaging-label/product-packaging">Product packaging</a></li>',
        '<li><a href="/categories/packaging-label/product-label">Product label</a></li>',
        '<li><a href="/categories/packaging-label/other-packaging-label">Other packaging or label</a></li>']
  };



  $('#categoryList > li a').hover(function() {
    var id = this.id;
    console.log(id);
    $('#subsList').text('');
    $('#subsList').append(subcategories[id]);
  });

  // Upload image to cloudinary

  // Configure Cloudinary
  $.cloudinary.config({ cloud_name: 'dmgjawsym', api_key: '846932236468652'})

  $('#request-form').unsigned_cloudinary_upload('n2opekbe',
    { cloud_name: 'dmgjawsym', tags: 'browser_uploads' },
    { multiple: true })
    .bind('cloudinarydone', function(e, data) {
      console.log('THIS IS CLOUDINARY DATA ', data);
      var sketchId = data.result.public_id;
      console.log(sketchId);
      console.log('original val: ' + document.getElementById('sketchId').value);
      document.getElementById('sketchId').value = sketchId;
      console.log('new val: ' + document.getElementById('sketchId').value);
    });
  </script>

</body>
</html>